<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
</head>
<body>
    <h2>Create Read Update and Delete  </h2>
    <!-- {{request.user.username}} -->
    <form method="POST">
        {% csrf_token %}
         {{form.as_p}}
            <input type="submit">
    </form>

  {% for iteam in data %}
<ul>
    <li> {{iteam.content}} <a href="{% url 'delete' iteam.id %}" >Delete</a> <a href="{% url 'update' iteam.id %}">Update</a></li>
</ul>
    
  {% endfor %}
</body>
</html>